body{
font-family: "Titillium Web", sans-serif;
}
.header{
    display:flex;
    flex-flow:row;
}
.header-container{
    display: flex;
}
h1.Logo{
margin-top: 85px;
margin-bottom:0px;
color:darkgray;
}
.LogoPanel{
    display: flex;
    flex-direction: column;
    margin-left:140px;
}
.languages li{
    display: inline;
}
h1 span{
    color:#5b4295;
}

ul.languages{
    margin-top:23px;
    padding: 0px;
    color:#959595;
    font-size: 14px;
}
.languages li+li ::before{
    content: '/';
    padding-right: 8px;
    padding-left:8px;
}
.NavigationPanel{
    display: flex;
    flex-flow:row;
    padding-top:0.5em;
    padding-bottom: 0.5em;
    margin-left:300px;
}
.Loginbtn{
margin-left:48px;
border:none;
border-radius: 20px;
background-color: white;
margin-top: 75px;
height:40px;
width:94px;
font-size: 16px;
font-weight: 500;
}

.Loginbtn:hover{
    font-weight: 600;
}
.Signupbtn{
margin-top: 75px;
border-radius:20px;
border:none;
height:40px;
width:94px;
font-size:16px;
font-weight: 700;
color:white;
background: linear-gradient(to bottom right,#582c7e,#6a0de9);
box-shadow: 0 2px 5px 1px #6e7eb8, 0 10px 20px 4px #99a8d2;
}
.Signupbtn:hover{
    box-shadow: 0 2px 5px 1px #a0b4ee, 0 10px 20px 4px #8ca6f2;
}
a.nav{
    padding-right:28px;
    text-decoration: none;
    color:Black;
    margin-top: 85px;
}
a.nav:hover{
    font-weight: bold;
}
a.language{
    color:#959595;
    text-decoration: none; 
}
a.language:hover{
    border-bottom:1px solid #959595;
    font-weight: bold;
}